extends layout

append head
  //- add page specific js
  script(src="/javascripts/shelfAddScript.js" type="module" defer)

include utils.pug

block content
  .build-grid 
    each build in builds 
      div(id=`grid-container-${build.id}`).grid-container 
        a(href=`/builds/${build.id}`)
          img(src=build.imageLink, alt=`Image of ${build.name}`).grid-image
        div.grid-details
          if locals.authenticated
            if user.DisplayShelves.length
              button(class='button add' id=`add-build-${build.id}`) Add to a Shelf
            else 
              a(class='button add' href='/displayshelves/new') Add to a Shelf
          //- p.grid-rating Average Rating:
  if locals.authenticated
    #pop-up.hidden
      h2.centered Add Build to a Display Shelf
      .form-pop-up
        //- pick the shelf from the user's shelves (SELECT)
        div(class='form-group')
          label(for='shelfId') Select Display Shelf
          select(name='shelfId' id='shelfId').form-control
            each displayShelf in user.DisplayShelves
              option(value=displayShelf.id)= displayShelf.title
        //- set the build status (SELECT)
        div(class='form-group')
          label(for='buildStatus') Select Build Status
          select(name='buildStatus' id='buildStatus').form-control
            option(value='Built') Built  
            option(value='In Progress') In Progress
            option(value='Will Build') Will Build
        div(class='form-end')
          button(id='pop-up-cancel' class='button warning') Cancel
          button(id='pop-up-submit' class='button') Submit 