extends layout

include utils.pug

block content
  +validationErrorSummary(errors)
  form(class='form', action="/displayshelves", method="post") 
    input(type='hidden' name='_csrf' value=csrfToken)
    +field('Title', 'title', displayShelf.title)
    +field('Subtitle', 'subtitle', displayShelf.subtitle)
    div(class='form-end')
      a(href=`/users/${locals.user.id}` class='button warning') Cancel
      button(type='submit' class='button') Edit Display Shelf
  .shelf-flex 
    each build in displayShelf.Builds
      .grid-container 
        a(href=`/builds/${build.id}`)
          img(src=build.imageLink, alt=`Image of ${build.name}`).grid-image
        .grid-details
          p= `Build Status: ${build.BuildAndShelf.buildStatus}`