extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/reset.css")

block content
  a(href='/builds').page-reference
    h2 Explore the latest Builds!
  .shelf-flex 
    each build in newestBuilds
      .grid-container.home 
        a(href=`/builds/${build.id}`)
          img(src=build.imageLink, alt=`Image of ${build.name}`).grid-image
  #special
    a(href='/displayShelves/new').page-reference
      h2 Inspiration for your own Display Shelf?
    h2= oldestShelf.title 
    p= oldestShelf.subtitle
    .shelf-flex 
      each build in oldestShelf.Builds 
        .grid-container.home 
          a(href=`/builds/${build.id}`)
            img(src=build.imageLink, alt=`Image of ${build.name}`).grid-image