extends layout

include utils.pug

block content
  if userDetail.imageLink 
    img(src=userDetail.imageLink, alt="User image").detail-image
  else
    img(src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png", alt="Default user image").detail-image
  if locals.user.id === userDetail.id 
    .side-by-side
      a(href=`/users/${userDetail.id}/edit`).button Edit My Profile
      a(href=`/users/${userDetail.id}/delete`).button.warning Delete My Profile
  .subsection
    .side-by-side 
      h2 #{userDetail.firstName}'s Builds
      if locals.user.id === userDetail.id
        a(href="/builds/new").button Add a Build!
    if userDetail.Builds.length
      .shelf-flex 
        each build in userDetail.Builds
          div(id=`grid-container-${build.id}`).grid-container 
            a(href=`/builds/${build.id}`)
              img(src=build.imageLink, alt=`Image of ${build.name}`).grid-image
            .side-by-side
              if locals.user.id === userDetail.id
                a(href=`/builds/${build.id}/edit`).button Edit Build
                a(href=`/builds/${build.id}/delete`).button.warning Delete Build
    else 
      if locals.user.id !== userDetail.id
        h4 It seems #{userDetail.firstName} has no builds at the moment
  .subsection
    .side-by-side
      h2 #{userDetail.firstName}'s Display Shelves
      if locals.user.id === userDetail.id
        a(href="/displayshelves/new").button Add a Display Shelf!
    if userDetail.DisplayShelves.length
      each displayShelf in userDetail.DisplayShelves 
        .side-by-side 
          h2= displayShelf.title 
          a(href=`/displayshelves/${displayShelf.id}/edit`).button Edit Display Shelf
          a(href=`/displayshelves/${displayShelf.id}/delete`).button.warning Delete Display Shelf
        p= displayShelf.subtitle
        .shelf-flex 
          each build in displayShelf.Builds
            .grid-container 
              a(href=`/builds/${build.id}`)
                img(src=build.imageLink, alt=`Image of ${build.name}`).grid-image
              .grid-details
                p= `Build Status: ${build.BuildAndShelf.buildStatus}`
        //- p foo
    else 
      if locals.user.id !== userDetail.id
        h4 It seems #{userDetail.firstName} has no display shelves at the moment
